doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
body

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

