doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/font-awesome.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
body
  #particles
  h1#title
    span Allan Saint-Maximin
    span Allan Saint-Maximin
  header
    img(src='./img/logo.png')
  section#home
    .dudes
      .mask.step-1
        img(src='./img/step-1.png')
      .mask.step-2
        img(src='./img/step-2.png')
  section#bio
    .row
      .align
      img(src='./img/bio.png')
      .col-text
        .each
          span Nom, âge & nationalité
          p Allan Saint-Maximin, 19 ans, France
        .each
          span Taille & poids
          p 1m73 - 67kg
        .each
          span Poste & club
          p Attaquant - SC Bastia
        .each
          span Parcours
          p AS Saint-Etienne (2013-2015)
          p Hanovre 96 (2015/2016)
          p Bastia (2016/2017)
        .each
          span Sélection nationale
          p 20 séléctions (U20, U17, U16)
          p 7 buts et 5 passes décisives
  section#video
    .row
      video#player(muted, loop, src="./img/video.mp4")
      i.fa.fa-play
      span
        | #AmazingDribbler
        p Plus grand nombre de dribbles réussit en L1
  section#news.loaded
    .row
      h2 News
      #grid(data-columns)
        .wrap
          img(src='./img/temp/1.jpg')
          .overlay
        .wrap
          img(src='./img/temp/2.jpg')
          .overlay
        .wrap
          img(src='./img/temp/3.jpg')
          .overlay
        .wrap
          img(src='./img/temp/4.jpg')
          .overlay
        .wrap
          img(src='./img/temp/5.jpg')
          .overlay
        .wrap
          img(src='./img/temp/6.jpg')
          .overlay
        .wrap
          img(src='./img/temp/8.jpg')
          .overlay
        .wrap
          img(src='./img/temp/7.jpg')
          .overlay
        .wrap
          img(src='./img/temp/10.jpg')
          .overlay

  include ./templates

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')
//- script(async, src="https://www.youtube.com/iframe_api")
//- script.
//-   function onYouTubeIframeAPIReady() {
//-   var player;
//-   player = new YT.Player('player', {
//-   videoId: 'CVeJFlLuzug',
//-   width: 560,
//-   height: 316,
//-   playerVars: {
//-   autoplay: 1,
//-   controls: 0,
//-   showinfo: 0,
//-   modestbranding: 1,
//-   loop: 1,
//-   fs: 0,
//-   cc_load_policy: 0,
//-   iv_load_policy: 3,
//-   autohide: 0
//-   },
//-   events: {
//-   onReady: function(e) {
//-   e.target.mute();
//-   }
//-   }
//-   });
//-   }


