doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/font-awesome.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  link(href="css/responsive.css", rel="stylesheet", type="text/css")
body.modal-open
  #particles
  section#home
    figure
      img.repulse(data-pulse='-1.5', data-src='./img/body.png')
    h1
      .each
        span.repulse(data-pulse='3') Allan
        br
        span.repulse(data-pulse='2') St-Maximin
      .each.abs
        span.repulse(data-pulse='3.5') Allan
        br
        span.repulse(data-pulse='2.5') St-Maximin
      .each.abs
        span.repulse(data-pulse='3.5') Allan
        br
        span.repulse(data-pulse='2.5') St-Maximin
    aside
      a.icon(href="https://www.facebook.com/asaintmaximinofficial/?fref=ts", target='_blank')
        i
          img(data-src='./img/icons/facebook-logo.svg')
          img.repulse.ana.blue(data-pulse='0.5', data-src='./img/icons/facebook-logo-blue.svg')
          img.repulse.ana.red(data-pulse='0.5', data-src='./img/icons/facebook-logo-red.svg')
      a.icon(href="https://www.instagram.com/st_maximin/", target='_blank')
        i
          img(data-src='./img/icons/twitter-logo.svg')
          img.repulse.ana.blue(data-pulse='0.5', data-src='./img/icons/twitter-logo-blue.svg')
          img.repulse.ana.red(data-pulse='0.5', data-src='./img/icons/twitter-logo-red.svg')
      a.icon(href="https://twitter.com/asaintmaximin", target='_blank')
        i
          img(data-src='./img/icons/instagram-logo.svg')
          img.repulse.ana.blue(data-pulse='0.5', data-src='./img/icons/instagram-logo-blue.svg')
          img.repulse.ana.red(data-pulse='0.5', data-src='./img/icons/instagram-logo-red.svg')
  section#bio
    .row
      .align
      img(data-src='./img/bio.png')
      .col-text
        .each
          span Nom, âge & nationalité
          p Allan Saint-Maximin, 19 ans, France
        .each
          span Taille & poids
          p 1m73 - 67kg
        .each
          span Poste & club
          p Attaquant - SC Bastia
        .each
          span Parcours
          p AS Saint-Etienne (2013-2015)
          p Hanovre 96 (2015/2016)
          p Bastia (2016/2017)
        .each
          span Sélection nationale
          p 20 séléctions (U20, U17, U16)
          p 7 buts et 5 passes décisives
  section#video
    .row
      video#player(muted, loop, data-src="./img/video.mp4")
      i.fa.fa-play
      span
        | #AmazingDribbler
        p Plus grand nombre de dribbles réussit en L1
  section#news.loaded
    .row
      h2 News
      #grid(data-columns)
        .wrap
          img(data-src='./img/temp/1.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/2.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/3.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/4.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/5.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/6.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/8.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/7.jpg')
          .overlay
        .wrap
          img(data-src='./img/temp/10.jpg')
          .overlay
  #loader
    .align
    .spinner
    span.percent 0%
  include ./templates

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

