doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
body
  #particles
  h1#title
    span Allan Saint-Maximin
    span Allan Saint-Maximin
  header
    img(src='./img/logo.png')
  section#home
    .dudes
      .mask.step-1
        img(src='./img/step-1.png')
      .mask.step-2
        img(src='./img/step-2.png')
  section#bio
    .row
      .align
      img(src='./img/bio.png')
      .col-text
        .each
          span Nom, âge & nationalité
          p Florian Thauvin, 23 ans, France
        .each
          span Taille & poids
          p 1m79 - 70kg
        .each
          span Poste & club
          p Attaquant - Olympique de Marseille
        .each
          span Trophées (club et équipe de France)
          p Finaliste de la coupe de France (Marseille, 2016)
          p Champion du monde (Équipe de France U-20, 2013)
          p Champion de Ligue 2 (Bastia, 2012)
        .each
          span Distinctions personnelles
          p Olympien de l’année (Marseille, 2016)
          p Meilleur espoir de Ligue 1 (Bastia, 2012/2013)


//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

