doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
body
  #particles
  h1#title
    span Allan Saint-Maximin
    span Allan Saint-Maximin
  header
    img(src='./img/logo.png')
  section#home
    .dudes
      .mask.step-1
        img(src='./img/step-1.png')
      .mask.step-2
        img(src='./img/step-2.png')
  section#bio
    .row

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

